*, *::before, *::after {
    font-family: roboto, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #4887ab, #48ab8d);
}

button {
    width: 15vh;
    height: 15vh;
    background-color: rgba(74, 109, 221, 0.534);
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: rgb(59, 171, 190);
}

.selections {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 75px;
}

#results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.computer, .player {
    font-size: 30px;
    font-weight: bolder;
    color: aquamarine;
}

.result-choice {
    opacity: .7;
    color: yellow
}

.result-score {
    color: aquamarine;
    font-size: 30px;
    font-weight: bolder;
}

.result-selection.winner {
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
}